.formulario{
    width: 500px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
}

.titulo{
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}